.custom-nav-bar {
  color: white;
  font-weight: 1000;
  margin-left: 20px;
}

.brand-name {
  color: white !important;
}

.home-link {
  color: white;
}

.brands-link {
  color: white;
}

.influencers-link {
  color: white;
}
